<h1 mat-dialog-title>Create new Task</h1>
<div mat-dialog-content>
  <div class="flex flex-col gap-3">
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Title</mat-label>
      <input [(ngModel)]="data.title" matInput placeholder="Task Title" value="Sushi">
    </mat-form-field>

    <mat-form-field class="w-full" appearance="fill">
      <mat-label>Description</mat-label>
      <textarea [(ngModel)]="data.description" matInput placeholder="Task Description..."></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data">Add</button>
</div>
