<div class="w-[300px] bg-white h-full">
  <div class="flex flex-row gap-5 p-3">
    <div class="font-bold text-4xl">Kanban</div>
  </div>

  <div class="flex flex-col gap-3">
    <div class="text-gray-500 tracking-widest px-3">ALL BOARDS (8)</div>
    <div class="transition-alcursor-pointer text-white bg-indigo-400 p-3 rounded-r-xl">Board 1</div>
    <div class="transition-all hover:bg-gray-400 cursor-pointer p-3">Board 2</div>
    <div class="transition-all hover:bg-gray-400 cursor-pointer p-3">Board 3</div>
    <div class="transition-all hover:bg-gray-400 cursor-pointer p-3">Board 4</div>
    <div class="transition-all hover:bg-gray-400 cursor-pointer p-3">Board 5</div>
    <div class="transition-all hover:bg-gray-400 cursor-pointer p-3">Board 6</div>
    <div class="transition-all hover:bg-gray-400 cursor-pointer p-3">Board 7</div>
    <div class="transition-all hover:bg-gray-400 cursor-pointer p-3">Board 8</div>
    <div class="cursor-pointer text-gray-500 text-sm px-3">+ Add new Board</div>
  </div>
</div>
